.neirongkuang{
	margin:0 auto;
	background-position:center top;
	width:1000px;
    clear:both;
}
.zuocekuangjia{
	float:left;
    width:200px;
}
.youcekuangjia{
	float:right;
	width:800px;

}
.weizhi{
	width:200px;
	height:40px;
	font-size:14px;
}
.weizhi p{
	padding:20px 0px 0px 30px;
}
.peixundongtaikuang{
	width:200px;
	margin:20px 100px 0px 0px;
	background:url(../images/bg.png);
	border:1px solid #c9baa5;
    text-align: center;
}

.peixundongtaikuang li{
	font-size: 15px;
	text-align: center;
	margin:20px 0 20px 0;
	font-weight: bold;

}
.zuijingengxinkuang{
	width:200px;
	margin:20px 100px 40px 0px;
	padding-top: 20px;
	background:url(../images/bg.png);
	border:1px solid #c9baa5;
    text-align: center;
}
.zuijingengxinkuang li{
	font-size: 15px;
	text-align: center;
	margin:20px 0 20px 0;
	font-weight: bold;
	list-style-type: none;
}

.zhaoshengqishikuang{
	background:url(../images/listtitle.png);
	margin: 60px 0 0 30px;

	width:760px;
	height:45px;
	border:1px solid #c9baa5;
}
.zhaoshengqishikuang p{
	padding-left: 60px;
	padding-top: 5px;
	font-size: 25px;
	color:#A52A2A;
}
.zuocekuangjia a:hover{
	background-image: url(../images/menubg.gif);
	background-position: left;
	background-repeat: no-repeat;
	color:red;

}
.kaoshibaogaotongzhi{
	width: 500px;
	float:left;
	padding-left: 58px;

}
.kaoshibaogaotongzhi li{
	list-style-image:url(../images/pot.gif);
	margin-top:15px;
	font-size: 12px;
}
.tongzhiriqi{
	width: 235px;
	float:left;

}
.tongzhiriqi li{
	text-align: right;
	list-style-image:url(../images/pot.gif);
	margin-top:15px;
	font-size: 12px;
}
.yeshu{
	margin: 20px 0 0 0;
	padding-top:30px;
	text-align: center;
	clear:both;
	height:40px;
	width: 800px;
}
.kuang{
	height:30px;
	width:40px;
	margin:0px 0px 0px 0px;
	border:1px solid #c9baa5;
}
