/*
* @Author: wang
* @Date:   2017-06-24 13:32:40
* @Last Modified time: 2017-06-24 13:42:47
*/
*{margin:0 auto;padding:0px;font-size:16px;list-style:none;font-family:"宋体";color:#522a06;}
img{border:0px;}
body{padding:0px;margin:0px;background:url(../images/bodybg.gif);/*background:#fff;*/position:relative;}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:underline;}
li{list-style:none;margin:0px;padding:0px;}

body{background:url(../images/bodybg.gif);}
#header{height:220px;}
.logo img{width:86px;height:60px;margin-top:10px;margin-left:460px}

.nav{width:1000px;z-index:10;position:relative;}
.nav ul{list-style:none;padding:0;margin:0;}
.nav li{float: left;}
.nav a{display:block;width:120px;height:30px;/*background:rgb(108,145,164);*/border:1px solid #bbf;text-align:center;line-height:30px;color:rgb(22,140,200);font-family:"楷体";font-size:18px;}
.nav li ul{width:122px;display:none;}
.nav li:hover ul{width:122px;display:block;}
#hebei{display:block;background:url(../images/hebei6.jpg);color:#f50;}
#zhejiang{display:block;background:url(../images/zhejiang1.jpg);}
#sichuan{display: block;background:url(../images/sichuan1.jpg);}
#shandong{display: block;background: url(../images/shandong1.jpg);}
#jilin{display: block;background: url(../images/jilin1.jpg);}
.nav ul{clear:both;}

#content{width:1000px;}
.regist{float:left;margin-right:60px;}
.login{float:left;}